*.log*
./doc
./cov
pkg/*
.DS_Store
*.o
*.so
*.bundle
Makefile
**/*.db
mem.*
testdb
nbproject
*.*~
*.*#
*.rbc
*.dSYM
stash
cross
coverage
**/test.*.*
do_*/lib/do_*_ext.jar
do_*/**/target
do_*/pkg
do_*/target
do_*/tmp
do_*/vendor
bin/**
*.ipr
*.iws
*.iml
.project
*.swp
