## MAC OS
.DS_Store

*.log*
./doc
./cov
pkg/*
_Yardoc
*.o
*.so
.yardoc
Makefile
**/*.db
mem.*
testdb
*.*~
*.*#
*.rbc
*.dSYM
stash
cross
coverage
**/test.*.*
do_*/lib/do_*/*.jar
do_*/**/target
do_*/pkg
do_*/target
do_*/tmp
do_*/vendor
bin/**
*.swp
gem_make.out
*.gem
*.bundle

## BUNDLER
Gemfile.*

## JAVA IDEs
.classpath
.project
.settings
*.ipr
*.iws
*.iml
nb-configuration.xml
nbproject
